version: "3.8"
services:
  test_db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: explorer_test_db
    ports:
      - "5433:5432"
